:root {
  --grey-900: #141414;
  --grey-800: #1f1f1f;
  --grey-700: #333;
  --green: #c4f82a;
  --white: #fff;
}

@font-face {
  font-family: SomeFont;
  src: url("assets/fonts/Inter-VariableFont_slnt,wght.ttf");
}

body {
  min-height: 100vh;
  background: var(--grey-900);
  color: var(--white);
  display: flex;
  flex-direction: column;
  position: relative;
  margin: 0;
  font-family: "SomeFont";
  font-size: 14px;
  text-align: center;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
}

.card {
  background: var(--grey-800);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2em;
  border-radius: 1.16em;
  padding: 2.85em 4.43em;
  box-sizing: border-box;
}

.card-profile-picture {
  width: 6.23em;
  border-radius: 50%;
}

.card-main-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.23em;
}

.card-main-info-name {
  font-size: 24px;
  line-height: 1.5;
  font-weight: 700;
  margin: 0;
}

.card-main-info-location {
  font-size: 14px;
  line-height: 1.5;
  font-weight: 700;
  color: var(--green);
  margin: 0;
}

.card-about {
  font-size: 14px;
  line-height: 1.5;
  margin: 0;
}

.card-socials {
  list-style: none;
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 1.43em;
  width: 100%;
  column-gap: 0;
  margin: 0;
  font-size: 14px;
}

.card-socials-item {
  background: var(--grey-700);
  border-radius: 0.57em;
  text-align: center;
  font-weight: 700;
  overflow: hidden;
}

.social-ref {
  display: block;
  padding: 0.86em;
  color: var(--white);
  text-decoration: none;
}

.social-ref:hover,
.social-ref:focus {
  background: var(--green);
  color: var(--grey-700);
}

.attribution {
  font-size: 0.6875rem;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}

.attribution {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}

.cs {
  width: 100%;
}

@media (width <= 768px) {
  .card {
    padding-left: 1.71em;
    padding-right: 1.71em;
  }
}
